*,
*::after,
*::before {
padding: 0;
margin: 0; 
box-sizing: border-box;
}

:root {
--dark-color: #000;
}

body {
 display: flex;
 align-items: flex-end; 
 justify-content: center; 
 min-height: 100vh;
 background-color: var(--dark-color);
 overflow: hidden;
 perspective: 1000px;
}
