<div class= "long-g long-g--5">
 <div class="grow-ans" style="--d:45">
  </div class="leaf leaf--0"></div>
</div>
 <div class="grow-ans" style="--d:4.2s">
 <div class="leaf leaf--1"></div>
</div>
 <div class="grow-ans" style="--d:3s">
  <div class="leaf leaf--2">
</div>
 <div class="grow-ans" style="--d:3.6s">
  <div class="leaf leaf--3"></div>
</div>

 <div class="long-g long-g--6%">
  <div class="grow-ans" style="--d:4.2s">
   <div class="leaf leaf--0">
</div>
<div class="grow-ans" style="--d:4.4s">
 <div class="leaf leaf--1">
</div>
<div class="grow-ans" style="--d:4.6s">
 <div class="leaf leaf--2">
</div>
<div class="grow-ans" style="--d:4.8s">
 <div class="leaf leaf--3">
 </div>
</div>
